{% extends 'base.html.twig' %}
{% block title 'Se connecter' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-4">
                    <div class="card-header bg-primary">
                        <div class="card-title text-white">
                           <span class="fa fa-user-circle"></span> Connexion
                        </div>
                    </div>
                    <div class="card-body" style="border: black 1px solid">
                        {% if error %}
                            <div class="alert alert-danger">
                               <span class="fa fa-times-circle"></span> {{ error.messageKey | trans(error.messageData,'security') }}
                            </div>
                        {% endif %}
                        <form action="{{ path('login') }}" method="post">
                            <div class="form-group">
                                <label for="username">Nom d'utilisateur</label>
                                <input type="text" name="_username" id="username" class="form-control" value="{{ last_username }}">
                            </div>
                            <div class="form-group">
                                <label for="password">Mot de passe</label>
                                <input type="password" name="_password" id="password" class="form-control">
                            </div>
                            <div class="form-group text-center">
                                <button class="btn btn-primary" type="submit">
                                    <span class="fa fa-sign-in"></span> Se connecter
                                </button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

